{% extends 'base.html' %}

{% load static %}


{% block css_additional %}
<link rel="stylesheet" href="{% static 'Gym_at_the_Moscow/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'Gym_at_the_Moscow/css/style.css'%}">
{% endblock %}

{% block title %}Акции Фитнес клуб Active Санкт-Петербург метро Московская Спб{% endblock %}

{% block content %}
        {% include 'includes/navbar.html' %}
        <div class="abonement_header">
            <div class="text_header">
                <h3>Акции</h3>
            </div>
            <div class="all_block_sale">
                {% for s in stock%}
                <div class="card_box_sale">
                        <span></span>
                    <h4>{{ s.name }}</h4>
                    <h5>{{ s.about_stock }}</h5>
                    <h5>До {{ s.date_ac }}</h5>
                </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}