{% extends 'base.html' %}

{% load static %}


{% block css_additional %}
<link rel="stylesheet" href="{% static 'Gym_at_the_Moscow/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'Gym_at_the_Moscow/css/style.css'%}">
{% endblock %}

{% block title %}Личный тренер, тренеры фитнес клуба Active Санкт-Петербург Спб метро Московская{% endblock %}

{% block content %}
        {% include 'includes/navbar.html' %}
        <div class="abonement_header">
                <div class="text_header">
                    <h3>Тренеры</h3>
                </div>
                <div class="all_block_trener">
                    {% for t in trainer %}
                     <div class="card_box_trener">
                        <span></span>
                        <img src="{{t.photo.url}}">
                         <h5>{{t.full_name}}
                        <br>
                        {{ t.about_trainer }}</h5>
                     </div>
                     {% endfor %}
                </div>
            </div>
{% endblock %}